# CODEOWNERS — TeoremasTesesTeorias
*                       @rafaelmeloreisnovo
theorems/               @rafaelmeloreisnovo
theses/                 @rafaelmeloreisnovo
.github/                @rafaelmeloreisnovo
